export PATH="/usr/local/bin:$PATH"
export PAYMENT_MANAGER_ARN=arn:aws:bedrock-agentcore:us-east-1:<ACCOUNT_ID>:payment-manager/<MANAGER_ID>
export PAYMENT_INSTRUMENT_ID=payment-instrument-<YOUR_ID>
export PAYMENT_SESSION_ID=payment-session-<YOUR_ID>
export PAYMENT_CONNECTOR_ID=coinbasecdp-<YOUR_ID>
export MERCHANT_URL=https://<YOUR_CLOUDFRONT_DOMAIN>
export TRUST_REGISTRY_URL=https://<YOUR_API_GATEWAY_ID>.execute-api.us-east-1.amazonaws.com
export FEEDBACK_URL=https://<YOUR_API_GATEWAY_ID>.execute-api.us-east-1.amazonaws.com
export AWS_REGION=us-east-1
